.content .table{display: table;}
.content .table .row{display: table-row;}
.content .table .row .cell{
    display: table-cell;
    border-bottom: 2px solid rgb(8, 138, 138);
    padding: 5px;
}
.content .table .row .cell .right{
    width: 610px;
    float: right;
    line-height: 2;
    margin: auto 10px;
}
.content .table .row .cell .right h3{
    background: rgb(8, 138, 138);
    border-radius: 10px;
    width: 100px;
    color: white; 
}
.content .table .row .cell .right h3,#table .row .cell .right p{
    margin: 0px;
}